.additemformbtn {
  background-color: blue;
  border-radius: 5px;
  width: 4.3rem;
  text-align: center;
  position: relative;
  left: 80%;
  pointer-events: all;
}

.additemforminput {
  width: 16rem;
  position: relative;
  left: 80%;
  pointer-events: all;
}

.list {
  margin: auto;
  text-align: center;
  list-style-type: armenian;
}
